<ion-view view-title="Cek Harga" ng-init="init()" cache-view="false">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Barang</span>
        <select ng-model="selection.item">
          <option ng-repeat="opt in items" value="{{opt.id}}">{{opt.name}}</option>
        </select>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Radius (Km)</span>
        <div class="item range">
          <i class="icon ion-android-remove"></i>
          {{selection.radius}} <input type="range" name="radius" ng-model="selection.radius" min="0" max="1000">
          <i class="icon ion-android-add"></i>
        </div>
      </label>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-positive icon-left ion-earth" ng-click="getPrice('WEB')">Cek Web</button>
      </div>
      <div class="col">
        <button class="button button-block button-balanced icon-left ion-chatbox-working" ng-click="getPrice('SMS')" disabled>Cek SMS</button>
      </div>
    </div>
    <div id="map" data-tap-disable="true"></div>
  </ion-content>
</ion-view>
