<ion-view view-title="Jual Komoditas">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Barang</span>
        <select ng-model="selection.item">
          <option ng-repeat="opt in items" value="{{opt.code}}">{{opt.name}}</option>
        </select>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Stok tersedia</span>
        <input type="number" placeholder="Masukkan jumlah stok" ng-model="selection.qty" />
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Harga</span>
        <input type="number" placeholder="Masukkan harga" ng-model="selection.price" />
      </label>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-positive icon-left ion-earth" ng-disabled="!currentPosition || !loggedIn" ng-click="sendPrice('WEB')">Kirim Web</button>
      </div>
      <div class="col">
        <button class="button button-block button-balanced icon-left ion-chatbox-working" ng-disabled="!currentPosition || !loggedIn" ng-click="sendPrice('SMS')">Kirim SMS</button>
      </div>
    </div>
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>
