<ion-view view-title="Konfigurasi" ng-init="init()" cache-view="false">
  <ion-content>
    <div class="list">

      <!-- <label class="item item-input item-stacked-label">
        <span class="input-label">SMS Server</span>
        <input type="text" placeholder="+14077925761" ng-model="config.SMSServer" disabled />
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">API Server</span>
        <input type="text" placeholder="https://rest.api.com" ng-model="config.APIServer" disabled />
      </label>

      <div class="item item-input item-stacked-label">
        <span class="input-label">No telepon</span>
        <input type="text" ng-model="registration.mobile" disabled />
      </div> -->

      <div class="item">
        <button class="button button-block button-positive icon-left ion-person" ng-if="registration.username != null" ng-click="openViewModal()">{{registration.username}}</button>
        <button class="button button-block button-positive icon-left ion-person" ng-if="!registration.username" ng-click="openModal()">Registrasi</button>
      </div>

      <div class="item">
        <button class="button button-block button-assertive icon-left ion-information-circled" ng-click="openAboutModal()">Tentang</button>
      </div>

    </div>

  </ion-content>
</ion-view>

<script id="register-modal.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar>
      <h1 class="title">Registrasi</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Nama<span class="required-mark"> * </span></span>
          <input type="text" ng-model="registration.name" placeholder="Budi" required>
        </label>
        <label class="item item-input">
          <span class="input-label">No KTP</span>
          <input type="text" ng-model="registration.identityNo" placeholder="390810932943243">
        </label>
        <label class="item item-input">
          <span class="input-label">No HP<span class="required-mark"> * </span></span>
          <input type="text" ng-model="registration.mobile" ng-readonly="registration.mobileAvailable" placeholder="+6281311525264" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Email<span class="required-mark"> * </span></span>
          <input type="email" ng-model="registration.username" placeholder="budi@gmail.com" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Alamat</span>
          <input type="text" ng-model="registration.address" placeholder="Jl. Merdeka no 13 Jakarta">
        </label>
        <label class="item item-input">
          <span class="input-label">Kode pos</span>
          <input type="text" ng-model="registration.postalCode" placeholder="13330">
        </label>
        <label class="item item-input">
          <span class="input-label">Kata sandi<span class="required-mark"> * </span></span>
          <input type="password" ng-model="registration.password" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Konfirmasi kata sandi<span class="required-mark"> * </span</span>
          <input type="password" ng-model="registration.passwordConfirm" required>
        </label>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-block button-positive icon-left ion-person" ng-disabled="!registration.name || !registration.mobile || !registration.username || !registration.password || !registration.passwordConfirm" ng-click="register()">Daftar</button>
        </div>
        <div class="col">
          <button class="button button-block button-assertive icon-left ion-close" ng-click="closeModal()">Batal</button>
        </div>
      </div>
    </ion-content>
  </div>
</script>

<script id="register-view-modal.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar>
      <h1 class="title">Data Pengguna</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Nama lengkap</span>
          <span>{{registration.name}}</span>
        </label>
        <label class="item item-input">
          <span class="input-label">No KTP</span>
          <span>{{registration.identityNo}}</span>
        </label>
        <label class="item item-input">
          <span class="input-label">No HP</span>
          <span>{{registration.mobile}}</span>
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <span>{{registration.username}}</span>
        </label>
        <label class="item item-input">
          <span class="input-label">Alamat</span>
          <div>{{registration.address}}</div>
        </label>
        <label class="item item-input">
          <span class="input-label">Kode pos</span>
          <span>{{registration.postalCode}}</span>
        </label>
      </div>
      <button class="button button-block button-positive icon-left ion-close" ng-click="closeViewModal()">OK</button>
    </ion-content>
  </div>
</script>

<script id="about-modal.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar>
      <h1 class="title">Tentang</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <div class="item">
          <h1>Pantau Harga v 1.0</h1>
          <p>Facebook Page: <a href="https://www.facebook.com/pantauharga">facebook.com/pantauharga</a></p>
          <p>Dibuat oleh tim CodingStelsel @ Code4Nation.org:</p>
        </div>
        <a class="item" href="mailto:ivan.sugiarto@gmail.com">
          <h2>Ivan Sugiarto Widodo (ivan.sugiarto@gmail.com)</h2>
          <p>Web developer</p>
        </a>
        <a class="item" href="mailto:panduwana@gmail.com">
          <h2>Ronny Perdana (panduwana@gmail.com)</h2>
          <p>SMS gateway developer</p>
        </a>
        <a class="item" href="mailto:wid.pangestu@gmail.com">
          <h2>Widodo Pangestu (wid.pangestu@gmail.com)</h2>
          <p>Web developer</p>
        </a>
        <a class="item" href="mailto:yohanes.gultom@gmail.com">
          <h2>Yohanes Gultom (yohanes.gultom@gmail.com)</h2>
          <p>Mobile (android) developer</p>
        </a>
      </div>
      <button class="button button-block button-positive icon-left ion-close" ng-click="closeAboutModal()">OK</button>
    </ion-content>
  </div>
</script>
