<ion-view view-title="Jual Komoditas" ng-init="init()" cache-view="false">
  <ion-content>
    <div class="list">
      <label class="item item-input item-select">
        <span class="input-label">Barang</span>
        <select ng-model="selection.item">
          <option ng-repeat="opt in items" value="{{opt.id}}">{{opt.name}}</option>
        </select>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Stok tersedia (Kg)</span>
        <input type="number" placeholder="Contoh: 99" ng-model="selection.qty" />
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Harga (Rp/Kg)</span>
        <input type="number" placeholder="Contoh: 50000" ng-model="selection.price" />
      </label>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-positive icon-left ion-earth" ng-disabled="!currentPosition || !loggedIn || !selection.item || !selection.qty || !selection.price" ng-click="sendPrice('WEB')">Kirim Web</button>
      </div>
      <div class="col">
        <button class="button button-block button-balanced icon-left ion-chatbox-working" ng-disabled="true || !currentPosition || !loggedIn || !selection.item || !selection.qty || !selection.price" ng-click="sendPrice('SMS')">Kirim SMS</button>
      </div>
    </div>
    <div id="map" data-tap-disable="true"></div>
  </ion-content>
</ion-view>
