<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-dark tabs-color-light">

  <!-- Cek Harga Tab -->
  <ion-tab title="Cek Harga" icon-off="ion-android-pin" icon-on="ion-android-pin" href="#/tab/cek-harga">
    <ion-nav-view name="tab-cek-harga"></ion-nav-view>
  </ion-tab>

  <!-- Pos Harga Tab -->
  <ion-tab title="Pos harga" icon-off="ion-android-upload" icon-on="ion-android-upload" href="#/tab/pos-harga">
    <ion-nav-view name="tab-pos-harga"></ion-nav-view>
  </ion-tab>

  <!-- Tab Jual -->
  <ion-tab title="Jual komoditas" icon-off="icomoon-rupiah" icon-on="icomoon-rupiah" href="#/tab/jual">
    <ion-nav-view name="tab-jual"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Konfigurasi" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
